<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload"" href=" css/normalize.css" as="style">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preload"" href=" css/styles.css" as="style">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/5acb377302.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">
        <div class="header-content">
            <div class="logo">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Mercado Liebre brand"></a>
            </div>
            <div class="search-bar">
                <form>
                    <input type="search" placeholder="Buscar productos, marcas">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="more-info">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <div class="navigations">
                <nav class="offers-nav">
                    <ul class="offers-nav-ul">
                        <li class="offers-nav-li">
                            <a class="offers-nav-li-a" href="#">Ofertas</a>
                        </li>
                        <li class="offers-nav-li">
                            <a class="offers-nav-li-a" href="#">Tiendas Oficiales</a>
                        </li>
                        <li class="offers-nav-li">
                            <a class="offers-nav-li-a" href="#">Vender</a>
                        </li>
                        <li class="offers-nav-li">
                            <a class="offers-nav-li-a" href="#">Ayuda</a>
                        </li>
                    </ul>
                </nav>
                <nav class="user-nav">
                    <ul class="user-nav-ul">
                        <li class="user-nav-li">
                            <a class="user-nav-li-a" href="#">Creá tu cuenta<i
                                    class="fa-regular fa-address-card"></i></a>
                        </li>
                        <li class="user-nav-li">
                            <a class="user-nav-li-a" href="#">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a>
                        </li>
                        <li class="user-nav-li">
                            <a class="user-nav-li-a" href="#">Mis compras<i class="fa-solid fa-bag-shopping"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="bars-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="main-content">
            <section class="last-visit">
                <article class="last-visit-input">
                    <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera icon">
                    <div class="last-visit-description">
                        <h3 class="last-visit-price">$6.770</h3>
                        <h4 class="last-visit-discount">40% off</h4>
                    </div>
                    <h3 class="last-visit-title">Cafetera Moulinex</h3>
                </article>
                <article class="last-visit-input">
                    <img src="images/img-macbook-pro-2019.jpg" alt="Macbook icon">
                    <div class="last-visit-description">
                        <h3 class="last-visit-price">$230.000</h3>
                        <h4 class="last-visit-discount">20% off</h4>
                    </div>
                    <h3 class="last-visit-title">MacBook Pro 2019</h3>
                </article>
                <article class="last-visit-input">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy icon">
                    <div class="last-visit-description">
                        <h3 class="last-visit-price">$70.500</h3>
                        <h4 class="last-visit-discount">10% off</h4>
                    </div>
                    <h3 class="last-visit-title">Samsung Galaxy S10</h3>
                </article>
                <article class="last-visit-input">
                    <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv icon">
                    <div class="last-visit-description">
                        <h3 class="last-visit-price">$23.200</h3>
                        <h4 class="last-visit-discount">5% off</h4>
                    </div>
                    <h3 class="last-visit-title">SmartTv Samsung 43"</h3>
                </article>
            </section>
            <section class="offers">
                <article class="offers-input">
                    <img src="images/img-cafetera-moulinex.jpg" alt="SmartTv icon">
                    <div class="offers-description">
                        <h3 class="offers-price">$23.200</h3>
                        <h4 class="offers-discount">5% off</h4>
                    </div>
                    <h3 class="offers-title">SmartTv Samsung 43"</h3>
                </article>
                <article class="offers-input">
                    <img src="images/img-macbook-pro-2019.jpg" alt="SmartTv icon">
                    <div class="offers-description">
                        <h3 class="offers-price">$23.200</h3>
                        <h4 class="offers-discount">5% off</h4>
                    </div>
                    <h3 class="offers-title">SmartTv Samsung 43"</h3>
                </article>
                <article class="offers-input">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="SmartTv icon">
                    <div class="offers-description">
                        <h3 class="offers-price">$23.200</h3>
                        <h4 class="offers-discount">5% off</h4>
                    </div>
                    <h3 class="offers-title">SmartTv Samsung 43"</h3>
                </article>
                <article class="offers-input">
                    <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv icon">
                    <div class="offers-description">
                        <h3 class="offers-price">$23.200</h3>
                        <h4 class="offers-discount">5% off</h4>
                    </div>
                    <h3 class="offers-title">SmartTv Samsung 43"</h3>
                </article>
            </section>
        </div>
    </main>

    <footer class="footer">
        <section class="pay">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="free-shipping">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="security">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="copyright">
            <p>Copyright &copy; 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>