<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/5acb377302.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="/">
                <img src="img/logo-mercado-liebre.svg" alt="Mercado liebre brand">
            </a>
        </div>
        <div class="search-bar">
            <form>
                <input type="search" placeholder="Buscar productos, marcas">
                <input type="submit">
            </form>
        </div>
        <p class="in-quotes"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <div class="menu-options">
            <nav class="nav">
                <ul class="nav-ul">
                    <li class="nav-li"><a class="nav-li-a" href="#">Ofertas</a></li>
                    <li class="nav-li"><a class="nav-li-a" href="#">Tiendas Oficiales</a></li>
                    <li class="nav-li"><a class="nav-li-a" href="#">Vender</a></li>
                    <li class="nav-li"><a class="nav-li-a" href="#">Ayuda</a></li>
                </ul>
            </nav>

            <nav class="user-nav">
                <ul class="user-nav-ul">
                    <li class="user-nav-li"><a class="user-nav-li-a" href="#">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li class="user-nav-li"><a class="user-nav-li-a" href="#">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li class="user-nav-li"><a class="user-nav-li-a" href="#">Mis compras<i class="fa-solid fa-bag-shopping"></i></a></li>
                </ul>
            </nav>

            <div class="bars-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="last-visit">
            <article>
                <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p>$6770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43" </h3> </article> </section> <section class="offers">
                <article>
                    <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <p>$6770</p>
                    <p>40% off</p>
                    <h3>Cafetera Moulinex</h3>
                </article>
                <article>
                    <img src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h3>MacBook Pro 2019</h3>
                </article>
                <article>
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h3>Samsung Galaxy S10</h3>
                </article>
                <article>
                    <img src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43"">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43" </h3> </article> </section> </main> <footer class="footer">
                    <section class="pay">
                        <i class="ft-icons fa-solid fa-credit-card"></i>
                        <h3>Pagá con tarjeta o efectivo</h3>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                            ¡Y siempre es seguro!</p>
                    </section>
                    <section class="free-shiping">
                        <i class="ft-icons fa-solid fa-gift"></i>
                        <h3>Envío gratis desde $2500</h3>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
                    </section>
                    <section class="security">
                        <i class="ft-icons fa-solid fa-user-shield"></i>
                        <h3>Seguridad, de principio a fin</h3>
                        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@.</p>
                    </section>
                    <section class="copyright">
                        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                    </section>
                    </footer>
</body>

</html>